<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="page-title">
      <img src="assets/home.png">
    </ion-title>
    <div class="logo">
      <img src="assets/logo.png">
    </div>
    <ion-buttons end>
      <button class="cart-button" ion-button (click)="showCart()">
        <img src="assets/cart.png">
      </button>
      <div class="cart-count">
        {{orderProvider.items.length}}
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-slides class="main-slides">
    <ion-slide *ngFor="let slide of slides">
      <img src="{{slide.url}}">
    </ion-slide>
  </ion-slides>
  <h2 style="text-align:left;margin-left:8px;">Ofertón</h2>
  <ion-slides class="offer-slides">
    <ion-slide *ngFor="let offer of offers">
        <div class="card">
          <img *ngIf="offer.url" [src]="offer.url">
        </div>
        <div class="details">
          <h6>{{offer.title}}</h6>
          <p>C${{offer.price}}</p>
          <img *ngIf="!offer.selected" class="offer-button" src="assets/add-cart.png" (click)="addOffer(offer)">
          <img *ngIf="offer.selected" class="offer-button" src="assets/remove-cart.png" (click)="removeOffer(offer)">
        </div>
      </ion-slide>
  </ion-slides>
  <hr>
  <h2 style="text-align:left;margin-left:8px;">Miércoles Verde</h2>
  <ion-slides class="offer-slides">
    <ion-slide *ngFor="let offer of offers">
        <div class="card">
          <img *ngIf="offer.url" [src]="offer.url">
        </div>
        <div class="details">
          <h6>{{offer.title}}</h6>
          <p>C${{offer.price}}</p>
          <img *ngIf="!offer.selected" class="offer-button" src="assets/add-cart.png" (click)="addOffer(offer)">
          <img *ngIf="offer.selected" class="offer-button" src="assets/remove-cart.png" (click)="removeOffer(offer)">
        </div>
      </ion-slide>
  </ion-slides>
  <hr>
</ion-content>