// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Regular */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato'), url(../assets/fonts/Lato-Regular.ttf) format('truetype');
}

/* Light */

@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Light'), local('Lato-Light'), url(../assets/fonts/Lato-Light.ttf) format('truetype');
}

/* Header styles */

h1 {
  font-family: $font-family-base !important;
}
h2 {font-family: $font-family-base !important;
}
h3 {
    font-family: $font-family-base !important;
}
h4 {
    font-family: $font-family-base !important;
}
h5 {
    font-family: $font-family-base !important;
}
h6 {
    font-family: $font-family-base !important;
}
p {
    font-family: $font-family-base !important;
}
strong {
    font-family: $font-family-base !important;
}

/* Element styles */

button {
  font-family: $font-family-base !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  height: 40px !important;
  margin: 0 auto !important;
}

.label {
  font-family: $font-family-base !important;
}

/* Navbar styles */

.toolbar-background {
  background-color: color($colors, primary) !important;
}

.toolbar-title {
  color: #fff !important;
  font-family: $font-family-base !important;
  border-left: 1px solid rgba(255,255,255,0.5);
  font-weight: 700;
  
}
.bar-button {
  color: #fff;
  .icon {
    height: 20px;
    font-size: 30px;
  }
}

.bar-button:hover {
  color: rgba(255,255,255,0.5) !important;
}

/* Sidemenu style */

ion-menu {
  .header {
    .toolbar-title {
      border-left: none;
    }
  }
  .item {
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
  }
  .menu-logo {
    width: 100px;
  }
}

/* Element Styles */

button {
  font-family: $font-family-base !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  height: 40px !important;
  margin: 0px 5px auto !important;
}