page-search {
  .page-title {
    img {
      width: 30px;
    }
  }
  .logo {
    @media only screen and (max-width: 500px) {
      left: 10px;
    }
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    img {
      width: 170px;
    }
  }
  .cart-button {
    img {
      width: 30px;
    }
  }
  .cart-count {
    position: absolute;
    top: 15px;
    right: 40px;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    color: color($colors, primary);
    font-weight: 700;
    font-size: 12px;
    font-family: $font-family-base;
  }
  .search-bar {
    background-color: color($colors, primary);
    padding: 10px;
    .input {
      //height: 30px;
      line-height: 0px;
      border-radius: 5px;
      //color: #fff;
      background-color: #fff;
    }
  }
  .item {
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    height: 100% !important;
  }
  .item-inner {
    border-bottom: none !important;
  }
  .item-button {
    h2 {
      font-weight: 700;
    }
  }
  .item-img {
    margin-right: 10px;
    float: left;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
  }
}
