<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="page-title">
      <img src="assets/search.png">
    </ion-title>
    <div class="logo">
      <img src="assets/logo.png">
    </div>
    <ion-buttons end>
      <button class="cart-button" ion-button (click)="showCart()">
        <img src="assets/cart.png">
      </button>
      <div class="cart-count">
        {{orderProvider.items.length}}
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button class="item-button" ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <img class="item-img" src="{{item.url}}">
      <h2>{{item.title}}</h2>
      <p>C${{item.price}}</p>
      <div class="item-note" item-right>
        <img *ngIf="!item.selected" class="item-button" src="assets/add-cart.png" (click)="addItem(item)">
        <img *ngIf="item.selected" class="item-button" src="assets/remove-cart.png" (click)="removeItem(item)">
      </div>
    </button>
  </ion-list>
</ion-content>