<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Búsqueda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div class="selected-item" *ngIf="selectedItem">
    <h6>Añadir {{ selectedItem.title }} a la carretilla?</h6>
    <button ion-button  (click)="removeSelectedItem()">
      Quitar
    </button>
    <button class="add" ion-button  (click)="addSelectedItem()">
      Añadir
    </button>
  </div>
</ion-content>